*{
    margin:0;
    padding:0;
}
.menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    border-radius: 25px;
    padding: 10px 10px;
    margin:0px 50px;
}

/*.menu{
    listStyleType:none;
    margin:0;
    padding: 8px;;
    background-color:blue;
    display: inline;
    width: 1500px;
    float: left;
    position: relative;
}*/
h1{
    left:-500px;
}
.div{
    display:inline;
    
}

.onAdd {
background-color: aqua;
}
.Count{
    position:relative;
    display:block;
    padding: 30px;
    color: "secondary";
}
